@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (User.IsPersonalAccount())
{
    <p class="alert alert-info">
        You are signed in with a personal MS account.
        Files you upload are only visible to you.
    </p>
}
else
{
    <p class="alert alert-info">
        You are signed with an organizational account.
        Files you upload are visible to all users in your organization.
    </p>
}

<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" asp-for="NewFile" />
        <br />
        <span class="text-danger" asp-validation-for="NewFile"></span>
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<hr />

<h2>Files</h2>

@foreach (var file in Model.Files)
{
    <p>
        <a asp-controller="Home" asp-action="Download" asp-route-id="@file.Id">@file.Name</a> (Uploaded @file.CreatedAt)
        <button type="button" class="btn btn-sm btn-danger btn-delete-file" data-id="@file.Id">Delete</button>
    </p>
}

<form id="deleteForm" asp-controller="Home" asp-action="Delete" method="post">
    <input id="fileToDelete" name="fileToDelete" value="" type="hidden" />
</form>

@section Scripts {
<script>
    $(function(){
        $('.btn-delete-file').click(function () {
            var result = confirm('Are you sure?');
            if (!result) {
                return;
            }

            var id = $(this).data('id');
            $('#fileToDelete').val(id);
            $('#deleteForm').submit();
        });
    });
</script>
}