@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (User.IsPersonalAccount())
{
    <p class="alert alert-info">
        You are signed in with a personal MS account.
        Files you upload are only visible to you.
    </p>
}
else
{
    <p class="alert alert-info">
        You are signed with an organizational account.
        Files you upload are visible to all users in your organization.
    </p>
}

<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" asp-for="NewFile" />
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<hr />

<h2>Files</h2>

@foreach (var file in Model.Files)
{
    <p>
        <a asp-controller="Home" asp-action="Download" asp-route-id="@file.Id">@file.Name</a> (Uploaded @file.CreatedAt)
    </p>
}