
@{
    ViewData["Title"] = "Login";
}

<h1>Login required</h1>

<p>You can use any personal or organizational Microsoft account.</p>

<form method="post" asp-controller="Account" asp-action="Login">
    <button type="submit" class="btn btn-primary">Azure AD Login</button>
</form>